* {
    margin: 0;
    padding: 0;
}

.header-wrapper {
    background-color:white;
    height: 7em;
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.container {
    width: 100%;
    margin: 0 auto;
    min-width: 930px;    
}

.logo{
    width: 200px;
    height: 7em;
    text-decoration: none;
}

.logo-image {
width: 200px;
height: 5em;
object-fit: contain;
}

.logo-text{
  text-align: center;
  color: #88C437;
  font-size: x-large;
}

.header-settings{
    height: 2em;
}

.header-settings-img{
    width: 2em;
    height: 2em;
    justify-content: center;
    cursor: pointer;
}

.header-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.header-dropdown:hover .dropdown-content {display: block;}

.forms{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    width: 20em;
    min-width: 20em;
}

.formslabel{
    margin: 1em;
}

.formsfield{
    width: 100%;
    border: revert;
    height: 30px;
  }

.forms_button{
    display: flex;
    justify-content: end;
   }


   .a_element {
    display: flex;
}

.a_text {
    margin-left: 3pt;
}

.Delete_City{
    cursor: pointer;
    position: relative;
}

.message_label{
    text-align: center;  
    line-height: 15px;  
    width: 100%;
}

/*------Table--------*/

.table-wrapper{
    min-width: 700px;
    margin: 20px;
    padding: 20px;
    border: 1px black;
 }

.table-heading{
    display: flex;
    justify-content: space-evenly;
}

.table-heading-text{
    margin: 10px;
    padding: 6px 16px;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}

th{
    border: 1px solid black;
    background-color: #b9ced7; 
}

 td{
    border: 1px solid black; 
    text-align: center;
}

.change_page{
    cursor: pointer;
}

/*---------Button-------*/

.button_classic{
    cursor: pointer;
    padding: 6px 16px;
    background: rgba(255, 255, 255, 0.5);
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgb(2, 61, 61);
    margin: 10px;
    border-color: rgba(17, 36, 69, 0.64);
}

.button_classic:hover {
    background: #93a1b6;
}

/*------message----------*/
.tooltiptext{
    display: none;
    position: absolute;
    left: -300px;
    top: -60px;  
    padding: 5px;
    z-index: 2;
    background-color: #000000a6;
    color: #fff;
}

/*---------Request---------*/

.request_field{
    display: flex;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
}

.get_statistic_dropbox_field{    
    width: 35%;
    min-width: 515px;
}

.get_statistic_dropbox{
    height: 34px;
    width: 80px;
    margin-left: 10%;
}

.get_statistic_longdropbox{
    height: 34px;
    width: 160px;
    margin-left: 5%;
}

.get_statistic_data{
    width: 280px;
    min-width: 275px;
}

.get_statistic_field{
    height: 30px;
    width: 130px;
}

.get_statistic_form{
    display: flex;
    width: 100%;
    justify-content: center;
}

.get_statistic_button_field{
    width: 35%;
}

.get_statistic_button{
    height: 34px;
    width: 80px;
}

.wrapper_statistic{
   margin: 20px;
   min-width: 830px;
   display: flex;
}

.best_rates_table{
    width: 80%;    
}

.statistic_table{
    width: 50%;
    justify-content: center;
}

.statistic{
    border: groove;
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
}

.bank_name{
    display: flex;
    justify-content: center;
}

.service_name{
    display: flex;
    justify-content: center;
}

.statistic_data{
    padding: 10px;    
}

.scroll{
    width: 20px;
    height: 20px;    
}

.time_field{
   padding-left: 15px;
   padding-right: 15px;  
}

.show_times{   
    cursor: pointer;
    color: burlywood;
}

.statistic_times{
    margin-top: 5px;
}

.hidden_times{
    margin-top: 5px;
    cursor: pointer;
    color: burlywood;
}

.best_rates_table_footer{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.table-settings{
    margin: 0px 10px;
}

.course_link{
    width: 90%;
    height: 30px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    border: groove;
    border-color: ghostwhite;
    color: black;
    align-items: center;
}

.course_link:hover{
    background-color: burlywood;
}