.service_rates_table{
    margin-left: auto;
    margin-right: auto;
    width: 80%;      
}

.service_rates_table_footer{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.wrapper_rates{
    margin: 20px;
   min-width: 830px;
   display: flex;
}